* {
    padding: 0px;
    margin: 0px;
}

.main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-block {
    width: 50%;
}

@media (max-width: 328px) {
    .info-block {
        width: 100%;
    }
}

@media (max-width: 762px) {
    .info-block {
        width: 80%;
    }
}

.my-name {
    padding: 0;
    margin-bottom: 10px;
}

.contacts {
    margin-top: 8px;
}

.experience ul {
    padding-top: 5px;
    list-style: none;
}

.company {
    display: flex;
    align-items: center;
    gap: 5px;
}

.experience li {
    padding-left: 20px;
}

.award {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
    padding-left: 20px;
}

.edication ul {
    padding-top: 5px;
    list-style: none;
}

.edication li {
    padding-left: 20px;
}

.certifications ul {
    list-style: none;
}

.certifications li  {
    padding-left: 20px;
    padding-top: 10px;
}

.skills ul {
    padding-top: 5px;
    list-style: none;
}

.skills li {
    padding-left: 20px;
}

.media-content {
    width: 320px;
    height: 180px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
}

.project {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 105%;
    width: 320px;
    flex-shrink: 0;
}

.project a {
    padding-top: 5px;
    font-size: 105%;
    margin-bottom: 5px;
}

.project p {
    font-size: 90%;
}

.project .date {
    margin-top: 10px;
    font-size: 80%;
}

@media (max-width: 768px) {
    .projects-container {
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 1100px) {
    .projects-container {
        justify-content: flex-start;
    }
}

@media (min-width: 1101px) {
    .projects-container {
        justify-content: flex-start;
    }
}
